@import url('https://fonts.googleapis.com/css?family=Heebo:800');

a {
    color: orange;
    font-size: 25px;
    text-decoration: none;
}

nav {
    background-color: black;
    height: 50px;
    width: 100%;
}

nav li {
    display: inline-block;
  }
  
ul {
    align-items: flex-end;
    color: white;
    display: flex;
    font-family: 'Heebo', cursive;
    justify-content: space-around;
    padding: 10px;
    text-decoration: none;
}

#item-1 {
    color: orange;
    font-size: 25px;
}