.wrapper {
    display: grid;
    grid-template: 100px / 1fr;
    background-color: orange;
    height: 100vh;
}

.charContainer{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}