.charCard {
    border: 5px solid black;
    border-radius: 5px;
    align-self: flex-start;  
    width: 175px;
    height: 175px;
    margin: 5px;
}

.charCard:hover {
    cursor:pointer;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.05); }

.img-container{
    height: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
    height: auto;
}