@import url('https://fonts.googleapis.com/css?family=Heebo:800');

a {
    color: orange;
    font-size: 25px;
    text-decoration: none;
}

.headerWrapper {
    background-color: black;
    height: 50px;
    width: 100%;
}

.headerWrapper li {
    display: inline-block;
}

  .titleWrapper {
    align-items: center;
    background: white;
    display: flex;
    font-family: 'Heebo';
    height: 50px;
    justify-content: center;
}
  
ul {
    align-items: flex-end;
    color: white;
    display: flex;
    font-family: 'Heebo', cursive;
    justify-content: space-around;
    text-decoration: none;
}

#item-1 {
    color: orange;
    font-size: 25px;
}